.mainbody{
	background-color: rgba(41, 44, 53, 255);
}
.outlineBox{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
}
.header{
	text-align: center;
}
.beforeTitle{
	margin-top: 80px;
	font-size: 20pt;
	font-family: sans-serif;
	color: white;
}
.title{
	margin-top: -10pt;
	font-size: 45pt;
	color: white;
	font-family: sans-serif;
}
.afterTitle{
	font-size:20pt;
	margin-top: -25pt;
	color: white;
	font-family: sans-serif;
}
.subtitle{
	color:white;
	font-family: sans-serif;
	margin: 0 auto;
	text-decoration: none;
	color: white;
	font-style: normal;
	text-align: center;
	background-color: rgb(154, 106, 173);
	width:300px;
	height: 150px;
	border-spacing: 250pt;
	margin-top: -25pt;
}
.subtitles{
	font-size: 15pt;
}
.sub{
	margin: 0 auto;
	margin-top: -25pt;
	
}
.differentTypes{
	margin: 0 auto;
}
.option{
	text-decoration: none;
	color: white;
	font-style: normal;
	text-align: center;
	background-color: rgba(68,152,176,255);
	width:300px;
	height: 150px;
}
#links{
	color:white;
	text-decoration: none;
	font-style: normal;
	font-family: sans-serif;
}
.table{
	margin: 0 auto;
	border-spacing: 30px;
}
.tables{
	margin: 0 auto;
	border-spacing: 50pt;
}
a:link{
	color:white;
	text-decoration:none;
	font-style: normal;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 20px;
}
.extraRow{
	margin: 0 auto;
}
a:visited{
	color:white;
	text-decoration:none;
	font-style: normal;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 20px;
}